* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    width: 100%;
}

.lhs {

}
.rhs {
    
}

/* Pre added styles by FEM */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}