* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: hsl(30, 38%, 92%);
    /* Use viewport heights/widths to give your main container a defined height */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* Set height of card */
    height: 50%;
    width: 45%;
    display: flex;
}

.lhs {
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Keeps the image centered */
    background-repeat: no-repeat;
    /* Stops the image from repeating */
    height: 100%;
    width: 50%;
}

.rhs {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: white;
    width: 50%;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
}

.fraunces-h1 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;

}

.price {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

h6 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/* Pre added styles by FEM */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}