* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: hsl(30, 38%, 92%);
    /* Use viewport heights/widths to give your main container a defined height */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    /* Set height of card */
    height: 50%;
    width: 30%;
    display: flex;
}

.lhs {
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Keeps the image centered */
    background-repeat: no-repeat;
    /* Stops the image from repeating */
    height: 100%;
    width: 100%;
}

/* .rhs {} */

/* Pre added styles by FEM */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}