* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: hsl(30, 38%, 92%);
    /* Use viewport heights/widths to give your main container a defined height */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* Set height of card */
    height: 60%;
    width: 45%;
    display: flex;
}

.lhs {
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    /* Ensures the image covers the entire area */
    background-position: center;
    /* Keeps the image centered */
    background-repeat: no-repeat;
    /* Stops the image from repeating */
    height: 100%;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}

.rhs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: white;
    width: 50%;
    border-radius: 0px 10px 10px 0px;

}

h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: hsl(228, 12%, 48%);
    font-size: 12px;
}

.fraunces-h1 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}

.price-section {
    display: flex;
    align-items: center;
}

.price {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    color: hsl(158, 36%, 37%);
}

h6 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
    padding: 0px 0px 0px 10px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.cart {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: hsl(158, 36%, 37%);
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}

.cart:hover {
    background-color: #e0e0ff;
    border-color: #6666ff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* Pre added styles by FEM */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (0px <= width <=385px) {
    .main {
        width: 100vw;
    }

    .card {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .lhs {
        height: 50%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        /* background-image: url("./images/image-product-mobile.jpg"); */

    }

    .rhs {
        height: 50%;
        width: 100%;
        border-radius: 0px 0px 10px 10px;

    }
}