* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    /* Set height of card */
    height: 50%;
    width: 30%;
}

.lhs {}

.rhs {}

/* Pre added styles by FEM */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}